body {
 
 justify-content: center;
}
.buttons{
justify-content: center;
align-items: center;
}

.btnr{
  background-color: red;
  margin-right: 10px;
}

.btny{
  background-color: yellow;
  margin-right: 10px;
}
.btng{
  background-color: grey;
  margin-right: 10px;
}
.btnp{
  background-color: pink;
  margin-right: 10px;
}
.btno{
  background-color: orange;
  margin-right: 10px;
}
.btnb{
  background-color: rgb(0, 0, 0);
  color: white;
}